*{
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    font-family: 'DM Sans';
    font-weight: lighter;
    box-sizing: border-box;

}
a{
    text-decoration: none;
}
a:hover{
    color: black;
}
main{
    margin: 3% 5%;
}
.cart_title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.cart_title button{
    width: 200px;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 3px 2px 6px 2px #e4e4e4;
    border: transparent;
    border-radius: 5px;
}
.table{
    font-size: 30px;
    display: grid;
    gap: 10px;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3,auto);
}
.table__title{
    display: flex;
    font-size: 35px;
    justify-content: space-between;
}
.table__info{
    display: flex;
    justify-content: space-between;
}
.info {
    font-size: 20px;
    margin-left: 20px;
    color: #686AA1;
}
.img{
    display: flex;
    font-size: 15px;
    
}
.table__info img{
    width: 150px;
    height: 150px;
}
.cart{
    height: 40vh;
    margin: 20px auto;
    width: 80%;
    padding: 30px 50px;
    background-color: #DBDBDB;
    border: 1px solid #F4F4F4;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    font-size: 20px;

}
.shipping{
    display: flex;
    flex-direction: column;
    justify-content:space-around ;
    height: 150px;
}
.shipping h3{
    font-weight: bold;
}
.shipping input{
    font-size: 555px;

}
.total button{
    height: 50px;
    margin-top: 20px;
    background-color: #DE6767;
    box-shadow: 3px 2px 6px 2px #c5c2c2;
    border: transparent;
    border-radius: 9px;
    width: 100%;
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
}
.total1{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 100px;
    width: 250px;
}
.total__p{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #7E7E7F;
}