*{
    border: 1px solid red;
    margin: 0;
    padding: 0;
    font-family: 'DM Sans';
    font-weight: lighter;
    box-sizing: border-box;

}
a{
    text-decoration: none;
}
a:hover{
    color: black;
}
main{
    margin: 5% 5%;
}
.discreption{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.image{
    display: flex;
    justify-content: center;
}
.img_produit{
    padding: 5px;
}
.img_desc{
    display: flex;
    flex-direction: column;
    gap: 3%;
    /* border:1px solid #686AA1; */
}
.img_desc img{
    width: 120px;
    height: 120px;
    border-radius: 10px;
}
.desc{
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 10px;
    font-size: 20px;
}
.desc p{
    color: #686AA1;
}
.desc h4{
    color: #A18A68;
    font-size: 30px;
}
.basket{
    display: flex;
 
    
}/*
.basket .btn{
    width: 80px;
    text-align: center;
    cursor: pointer;
} */
.basket button{
    width: 300px;
    height: 50px;
    background-color: #BAAA92;
    border: transparent;
    box-shadow: 0 5px 5px rgba(78, 70, 70,25);
    margin: 5px;
    font-size: 20px;
    color: aliceblue;
}
.basket button:nth-child(2){
    width: 100px;
    background-color: transparent;
}



.container_produit{
    margin: 3% auto;
}

.produit{
    margin: 3% auto;
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-between;
   
}

.cart{
    margin: 3%;
    align-self: center;
    flex-grow: 1;
    text-align: center;

}
.cart img{
    max-width: 300px;
    max-height: 350px;
    border-radius: 14px;

}
.cart h4{
    font-weight: lighter;
}
.cart p{
    color: #A18A68;
}
@media screen and (max-width:700px){
    .cart img{
        max-width: 200px;
        max-height: 250px;
    }
    
    .cart{
         align-items: center;
    }
    .basket button{
        width: 130px;
        height: 30px;
       
    }
    .basket button:nth-child(2){
        width: 50px;
    }
    .image{
        flex-wrap: wrap;
    }
    .img_produit img{
        width: 300px;
        height: 300px;
       
    }
    .img_desc{
        flex-direction: row;
        width: 300px;
    }
    .img_desc img{
        width: 90px;
        height: 90px;
    }
    h1{
        font-size: 1.5em;
    }
    h2{
        font-size: 1em;
    }
    .desc h4,h4{
        font-size: 0.8em;
    }
    p{
        font-size: 0.7em;
    }
    button i,span{
        font-size: 0.6em;
    }
@media screen and (max-width:360px) {
    
}
}
