*{
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    font-family: 'DM Sans';
    font-weight: lighter;
    box-sizing: border-box;

}
a{
    text-decoration: none;
}
a:hover{
    color: black;
}
main{
    margin: 5% 5%;
}
.discreption{
    display: grid;
    grid-template-columns: 0.5fr 1fr 3fr;
    gap: 10px;
}
.img_desc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.img_desc img{
    width: 120px;
    height: 120px;
    border-radius: 10px;
}
.desc{
    display: flex;
    flex-direction: column;
    width: 500px;
    font-size: 20px;
    justify-content: space-between;
}
.desc p{
    color: #686AA1;
}
.desc h4{
    color: #A18A68;
    font-size: 30px;
}
.basket{
    display: flex;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(78, 70, 70,25);
    border-width: 0;
    width: 300px;
}
.basket .btn{
    width: 80px;
    text-align: center;
    cursor: pointer;
}
.basket button{
    width: 200px;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: transparent;
}



.container_produit{
    margin: 3% auto;
}

.produit{
    display: grid;
    row-gap: 10px;
    grid-template-columns: repeat(3,auto); 
    grid-template-rows: repeat(2,auto);  
    justify-content: space-between;
    row-gap: 50px;
}
.cart{
    max-width: 300px;
    display: grid;
    gap: 6px;
}
.cart img{
    max-width: 300px;
    max-height: 350px;
    border-radius: 14px;
}
.cart h4{
    font-weight: lighter;
}
.cart p{
    color: #A18A68;
}

