
footer{
    margin-top: 6%;
    margin-left: 5%;
    margin-right: 5%; 
    margin-bottom: 0;
}
.footer{
    margin-top: 3%;
    color: #707070;
    display: flex;
    
    justify-content: space-between;
    gap: 15px;
    font-size: 20px;

}
.footer-info{
    grid-area: info;
    align-self: center;
    gap: 10px;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}
.footer-info a{
    color: #707070;
}



.foot{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-email{
    align-self: flex-end;
    display: flex;
    
}

.footer-reseau{
    align-self: flex-end;
    display: flex;
    min-width: 100px;
    justify-content: space-between;
}
@media screen and (max-width:700px) {
    .footer-info{
        flex-direction: column;
        align-items: center;
    }
    .footer{
        display: flex;
        font-size: 10px;
        flex-direction: column;
    }

    .foot{
        width: 150px;
        gap:2px;
        align-self: center;
    }
    .foot .footer-email,.footer-reseau{
        align-self: center;
    }
}