
header{
    
    margin-top: 3%;
    margin: 3% 5%;
} 
#log2{
    display: none;
}
.navbar{
    height: 12%;
    display: flex;
    justify-content: space-between;

}
.logo{
    max-width: 170px;
    cursor: pointer;
}
nav{
    display: inline-block;
    flex-grow: 1;
    max-width: 50em;
    text-align: right;
}
nav ul{
    display: flex;
    justify-content: flex-end;
}
nav ul li{
    flex-basis: 100px;    
    list-style: none;
}
#menu{
    display: none;
}
@media screen and (max-width:700px) {
   .navbar{
    flex-wrap: wrap;
   }
   .nav{
    width: 100%;
    display: none;
    background: #f0f0f2;
   }
   .nav.active {
    display: block;
}
    nav ul{
        flex-direction: column; 
    }
    nav ul li{
        display: flex;
        flex-basis: auto; 
        justify-content: center;  
        border: 1px solid #aaaaba;
        font-size: 1em;
        height: 2rem;
        align-items: center;
    }
    nav ul li:hover{
        background-color: #d7d7dc;
    }
    #menu{
        display: inline-block;
        align-self: center;
    }
   
    #log{
        display: none;
    }
    #log2{
        display: inline-block;
        max-width: 50px;
        max-height: 40px;
    }
    #bar{
        display: none;
    }
}

