*{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans';
    box-sizing: border-box;

}
a{
    text-decoration: none;
}
header{
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 3%;
}
.navbar{
    height: 12%;
    display: flex;
    align-self:center;
}
.logo{
    width: 170px;
    cursor: pointer;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: flex;
    justify-content: flex-end;
}
nav ul li{
    flex-basis: 100px;    
    list-style: none;
    gap: 60px;
}

.article{
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 14px;
    position: relative;
    height: 80vh;
    display: flex;
    background-image: url(img/Img\ 01.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: flex-start;
    align-items: center;


}

.div1{
    margin-left: 60px;
    color: #FFFFFF;
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
}
.div1 h1{
    font-size: 40px;
}
.btn{
    height: 50px;
    width: 200px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.point{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    bottom: 30px;
    right: 50%;
    transform: translateX(50%);
}
a{
    color: #FFFFFF;
}
.container-cart{
    margin: 3% 5%;

}
.container_cart_titre{
    display: flex;
    justify-content: space-between;
}
.container_cart_titre h4{
    color: #A18A68;
}
.produit{
    margin: 3% auto;
    display: grid;
    grid-template-columns: repeat(3,auto); 
    grid-template-rows: repeat(2,auto);  
    justify-content: space-between;
    row-gap: 50px;

}

.cart{
    max-width: 300px;
    display: grid;
    gap: 6px;

}
.cart img{
    max-width: 300px;
    max-height: 350px;
    border-radius: 14px;

}
.cart h4{
    font-weight: lighter;
}
.cart p{
    color: #A18A68;
}
.about{
    margin: 2% 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.about p{
    font-size: 30px;
}
.top-trend{
    margin: 2% 5%;
    display: grid;
    grid-template-columns: repeat(1,100%);
    grid-template-rows: 10% 85% 10% 10%;
}
.top-trend img{
    width: 100%;
}
.top-trend p{
    font-size: 30px;
}
.Produced{
    margin: 7% 5%;
    display: grid;
    grid-template-columns: repeat(1,100%);
    grid-template-rows: 10% 90% 10% 10%;
}
.Produced img{
    width: 100%;
}
.Produced p{
    font-size: 30px;
}

