*{
    border: 1px solid red;
    margin: 0;
    padding: 0;
    font-family: 'DM Sans';
    font-weight: lighter;
    box-sizing: border-box;

}
a{
    text-decoration: none;
    color: black;
}


.article{
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 14px;
    position: relative;
    height: 80vh;
    display: flex;
    background-image: url(img/Img\ 01.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: flex-start;
    align-items: center;


}

.div1{
    margin-left: 60px;
    color: #FFFFFF;
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
}
.div1 h1{
    font-size: 10em;
}
.btn{
    height: 50px;
    width: 200px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.point{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    bottom: 30px;
    right: 50%;
    transform: translateX(50%);
}
.btn a{
    color: #FFFFFF;
}
.container-cart{
    margin: 3% 5%;

}
.container_cart_titre{
    display: flex;
    justify-content: space-between;
}
.container_cart_titre h4{
    color: #A18A68;
}
.produit{
    margin: 3% auto;
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-between;
   
}

.cart{
    margin: 30px;
    align-self: center;
    flex-grow: 1;
    text-align: center;

}
.cart img{
    max-width: 300px;
    max-height: 350px;
    border-radius: 14px;

}
.cart h4{
    font-weight: lighter;
}
.cart p{
    color: #A18A68;
}
.about{
    margin: 2% 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.about p{
    font-size: 1.5em;
}
.top-trend{
    margin: 3% 5%;
    display: flex;
    flex-direction: column;
}
.top-trend img{
    width: 100%;
    padding: 10px;
}
.top-trend p{
    font-size: 1.5em;
}
.Produced{
    margin: 3% 5%;
    display: flex;
    flex-direction: column;
}
.Produced img{
    width: 100%;
    padding: 10px;
}
.Produced p{
    font-size: 1.5em;
}

a:hover{
    color: black;
}
@media screen and (max-width:600px) {
     
    nav{
        visibility: hidden;
    }
    .article{
        background: #cdcdcd;
        height: 40vh;
    }
    
}

